*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-family: Helvetica,Arial, sans-serif;
    scroll-behavior: smooth ;
    /* background-color: #ccc; */
}
/* Common */
.clean{
    clear: both;
}
.text-white{
    color: white !important;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top:8px !important;
}
.mt-16{
    margin-top:16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
/* Cách 2 của dòng lệnh clean */
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-two{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}


/* MAIN */
#main{

}

/* Header */
#header{
    /* fixed dùng để cố định thanh header */
    position: fixed;
    height:46px;
    width: 1440px;
    top: 0; 
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: black;
    /* Mẹo kéo thanh chuột */
    z-index: 1;
}
#nav{
     display: inline-block;  
}
#nav > li:hover > .subnav{
    display: block;
}
#nav >li >a{
    text-transform: uppercase;
}
#nav >li{
    /* cho header 1 hàng */
    display: inline-block;
    
}
#nav li{
    position: relative;
}
#nav > li >a{
    color: #fff;
}
#nav li a{
    
    /* bỏ gạch chân */
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    /* Bỏ chấm đầu câu */
    list-style-type: none; 
    top:100%;
} 
#nav .subnav a{
    color: black;
    padding: 8px 16px;
    display:block;
    padding: 0px 16px;
    line-height: 38px;
    left: 0;
}
.subnav{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#header .mobile-menu-btn{
    position:absolute;
    top:0;
    right: 0;
    display: none;
}


.mobile-menu-btn,
.search-btn{
    float: right;
    color: white;
    line-height: 46px;
    font-size: 20px;
    padding: 0px 23px;
    cursor: pointer;
}


#slider{
    /* chèn vào */
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* Dùng .. để thể hiện tương đối */
    background: url('../images/AE_About-img/panorama-2.jpeg') top center/cover no-repeat;
}

#slider .text-content{
    position: absolute; 
    bottom: 40px;
    width: 100%;
    text-align: center;

}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin: 10px;   
}

#slider .text-description{
    font-size: 15px;
    margin: 25px;   
    text-shadow: 0 0 1px #000;

}

/* Content */
#content{
    

}
#content .content-section{
    width: 900px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 64px 16px; */
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;

}
#content .section-heading{
    text-align: center;
    /* cách chữ với nhau */
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    font-weight: 800;
    color: #38CF98;
}
#content .section-sub-heading{
    font-style: italic;
    text-align: center;
    opacity: 0.60;
    font-size: 15px;
    margin: 15px 0;
}
#content .about-text{
    line-height: 1.4;
    margin: 15px 0;
    


}
#content .member-list{
    overflow: hidden;
}

#content .member-item{
    float:left;
    padding: 37px 2px;
    width: calc(100%/3);
    text-align: center;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}
#content .member-name{
    padding: 15px;
    font-weight: 600;
    
}
#content .img{
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}
/* Tour section */
.tour-section{
    background: rgb(248, 246, 246);
}
.tickets{
    background-color: white;
    margin-top: 40px;    
    list-style-type: none;
}
.tickets li{
    font-size: 15px;
    padding: 11px 16px; 
    border-bottom: 1px solid #ddd;
}
.tickets .sold-out{
    margin-left: 24px;
    background-color: red;
    color: white;
    padding: 3px 8px;
    text-align: center;
    line-height: 24px;
}
.tickets .quantily{
    float: right;
    margin-right: 16px;
    /* width: 24px;
    height: 24px; */
    background-color:black;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    /* text-align: center;
    line-height: 24px; */
    margin-top: -3px;
}
/* place */

.place-list{
    margin:12px -140px 0px;
    
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    
}
.place-img{
    width: 100%;
    max-height: 210px ;
    /* bỏ đường viền đen */
    display: block;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(189, 181, 181, 0.2);

}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 15px;
    background-color: rgba(36, 19, 19, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(189, 181, 181, 0.2);

}

.place-text-subtitle{
    margin-left: 50px;
    margin-right: 50px;
}

.place-text{
    margin: 6px 0;
    color: #fff;
    margin-left: 31px;
    margin-right: 31px;
}

.place-text-date{
    font-size: 12px;
}


.place-btn{
    padding: 12px 16px;
    margin-bottom: 16px;
    margin-top: 12px;
    text-decoration: none;
    color:white;
    background-color: #38CF98;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 700;

}
.place-btn:hover{
   background-color: #ccc;
   color: black;
}



/* Contact */
.contact-content{
    padding: 32px 0;
}
.row p {
    margin: 5px 0;
}
.contact-info{
    font-size: 18px;
    margin: 4px 0;
}
.contact-icon{
    margin-right: 9px;
    
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 8px;
    border:1px solid #ccc;
}
.contact-btn{
    background-color: black;
    color: white;
    border:none;
    float: right;
    padding: 8px 15px;
    cursor: pointer;
    /* font theo safari */
    appearance: none;
    -webkit-appearance: none;
}
.contact-btn:hover{
    background-color: #ccc;
    color: black ;
}

/* input[type="submit"] {
    margin-top: 13px 0px;
    margin-top: 8px;
} */

.map-img{
    width: 100%;
    height: auto;
    filter: grayscale(50%);
}

/* Footer */
#footer{
    text-align: center;
    padding: 60px 16px;
    background-color: #38CF98;

}
.social-list{
    font-size: 24px;
    
}
.social-list a{
    text-decoration: none !important;
    color:black;
}

.social-list a:hover{
    opacity: 0.7;

}
/* Modal btn */

.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    /* Căn giữa khung */
    display: none;
    align-items: center;
    justify-content: center;
    /* Căn giữa khung */
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: white;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;

}
.model-header {
    /* tickets */
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 129px;
    color: white;
    font-size: 30px;
}
.modal-close{
    position:absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 12px;
    color: white;
}
.modal-close:hover{
    color: black;
    background-color: #ccc;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin: 15px 0;
}
.modal-input{
    padding: 8px;
    width: 100%;
}
#buy-tickets{
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    background-color:#009688 ;
    color: white;
    border:none; 
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color: black;
}

.modal-body {
    margin-left: 15px;
    margin-right: 15px;
}
.modal-footer{
    
    margin: 15px;
}
.modal-help{
    float: right;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}